In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

In [3]:
earthquake_df = pd.read_csv("earthquake_data.csv")
earthquake_df.head()

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,NaN
2,M 7.0 -,7.0,12/11/2022 7:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,NaN,Oceania,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11/11/2022 10:48,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,NaN
4,M 6.6 -,6.6,9/11/2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,NaN,NaN,NaN

In [4]:
earthquake_df["date_time"].dtype

dtype('O')

In [5]:
earthquake_df.dtypes

title         object
magnitude    float64
date_time     object
cdi            int64
mmi            int64
alert         object
tsunami        int64
sig            int64
net           object
nst            int64
dmin         float64
gap          float64
magType       object
depth        float64
latitude     float64
longitude    float64
location      object
continent     object
country       object
dtype: object

In [6]:
earthquake_df["date_time"] = pd.to_datetime(earthquake_df['date_time'])
earthquake_df["date_time"]

0     2022-11-22 02:03:00
1     2022-11-18 13:37:00
2     2022-12-11 07:09:00
3     2022-11-11 10:48:00
4     2022-09-11 10:14:00
              ...
777   2001-01-13 17:33:00
778   2001-10-01 16:02:00
779   2001-09-01 16:49:00
780   2001-01-01 08:54:00
781   2001-01-01 06:57:00
Name: date_time, Length: 782, dtype: datetime64[ns]

In [7]:
earthquake_df["location"] = earthquake_df["location"].fillna("unknown")
earthquake_df

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,2022-11-22 02:03:00,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,2022-11-18 13:37:00,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,NaN
2,M 7.0 -,7.0,2022-12-11 07:09:00,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,unknown,Oceania,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,NaN
4,M 6.6 -,6.6,2022-09-11 10:14:00,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,unknown,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,2001-01-13 17:33:00,0,8,NaN,0,912,us,427,0.000,0.0,mwc,60.000,13.0490,-88.660,"Puerto El Triunfo, El Salvador",NaN,NaN
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,2001-10-01 16:02:00,5,7,NaN,0,745,ak,0,0.000,0.0,mw,36.400,56.7744,-153.281,"Old Harbor, Alaska",North America,NaN
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,2001-09-01 16:49:00,0,7,NaN,0,776,us,372,0.000,0.0,mwb,103.000,-14.9280,167.170,"Port-Olry, Vanuatu",NaN,Vanuatu
780,"M 6.8 - Mindanao, Philippines",6.8,2001-01-01 08:54:00,0,5,NaN,0,711,us,64,0.000,0.0,mwc,33.000,6.6310,126.899,"Mindanao, Philippines",NaN,NaN
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,2001-01-01 06:57:00,0,7,NaN,0,865,us,324,0.000,0.0,mwc,33.000,6.8980,126.579,"Lukatan, Philippines",NaN,Philippines

In [8]:
earthquake_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      782 non-null    object
 1   magnitude  782 non-null    float64
 2   date_time  782 non-null    datetime64[ns]
 3   cdi        782 non-null    int64
 4   mmi        782 non-null    int64
 5   alert      415 non-null    object
 6   tsunami    782 non-null    int64
 7   sig        782 non-null    int64
 8   net        782 non-null    object
 9   nst        782 non-null    int64
 10  dmin       782 non-null    float64
 11  gap        782 non-null    float64
 12  magType    782 non-null    object
 13  depth      782 non-null    float64
 14  latitude   782 non-null    float64
 15  longitude  782 non-null    float64
 16  location   782 non-null    object
 17  continent  206 non-null    object
 18  country    484 non-null    object
dtypes: datetime64[ns](1), float64(6), int64(5), object(7)
memory usage: 116.2+ KB

In [9]:
df_r = earthquake_df['location'].str.split(pat=',', n=1, expand=True)
print(df_r.head(5))                       ## View the new dataframe

## fill the missing country data, with country names in country column of df_r (df_r[1] is the country column)

earthquake_df['country'] = earthquake_df['country'].fillna(df_r[1])  
print('\n', 'Missing values in the refined country column are : ', earthquake_df['country'].isna().sum())

          0                 1
0   Malango   Solomon Islands
1  Bengkulu         Indonesia
2   unknown              None
3    Neiafu             Tonga
4   unknown              None

 Missing values in the refined country column are :  45

In [10]:
df_country=earthquake_df.dropna(subset=['country','location','continent'], how='all')
print('\n', 'Missing values in the country column are : ', df_country['country'].isnull().sum())

 Missing values in the country column are :  45

In [11]:
print('\n', 'Missing location values Before : ', df_country['location'].isnull().sum())
df_country['location']=df_country['location'].fillna('unknown')
print('\n', 'Missing location values After  : ', df_country['location'].isnull().sum())

 Missing location values Before :  0

 Missing location values After  :  0

In [12]:
df_country['country'] = df_country['country'].fillna(df_country['location'])

## Check the null values in country column

df_country['country'].isnull().sum()

0

In [13]:
df_country

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,2022-11-22 02:03:00,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,2022-11-18 13:37:00,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,Indonesia
2,M 7.0 -,7.0,2022-12-11 07:09:00,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,unknown,Oceania,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,Tonga
4,M 6.6 -,6.6,2022-09-11 10:14:00,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,unknown,NaN,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,2001-01-13 17:33:00,0,8,NaN,0,912,us,427,0.000,0.0,mwc,60.000,13.0490,-88.660,"Puerto El Triunfo, El Salvador",NaN,El Salvador
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,2001-10-01 16:02:00,5,7,NaN,0,745,ak,0,0.000,0.0,mw,36.400,56.7744,-153.281,"Old Harbor, Alaska",North America,Alaska
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,2001-09-01 16:49:00,0,7,NaN,0,776,us,372,0.000,0.0,mwb,103.000,-14.9280,167.170,"Port-Olry, Vanuatu",NaN,Vanuatu
780,"M 6.8 - Mindanao, Philippines",6.8,2001-01-01 08:54:00,0,5,NaN,0,711,us,64,0.000,0.0,mwc,33.000,6.6310,126.899,"Mindanao, Philippines",NaN,Philippines
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,2001-01-01 06:57:00,0,7,NaN,0,865,us,324,0.000,0.0,mwc,33.000,6.8980,126.579,"Lukatan, Philippines",NaN,Philippines

In [14]:
## Now we refine the column, for analysing and visualising the data country-wise

## First we remove all the extra spaces in the country column (in fact, the code will erase all the extra spaces across the dataset)

df_country = df_country.applymap(lambda x: x.strip() if isinstance(x, str) else x)

## Next we refine some country names

df_country.replace({'country': {"the Fiji Islands" : "Fiji region", "Fiji" : "Fiji region", 
                                "the Kermadec Islands" : "New Zealand region", "the Loyalty Islands" : "New Caledonia", 
                                "Vanuatu" : "Vanuatu region", "South Sandwich Islands" : "South Sandwich Islands region", 
                                "South Georgia and the South Sandwich Islands" : "South Sandwich Islands region", 
                                "Prince Edward Islands region" : "Canada", "Okhotsk" : "Russia region", 
                                "off the west coast of northern Sumatra" : "Indonesia", 
                                "Philippine Islands region" : "Philippines", 
                                "the Kuril Islands" : "Kuril Islands", 
                                "United Kingdom of Great Britain and Northern Ireland (the)": "UK", 
                                "People's Republic of China": "CHINA", "United States of America": "USA", 
                                "Alaska": "USA", "Aleutian Islands, Alaska" : "USA", "California" : "USA", 
                                "India" : "India region", "Russia" : "Russia region", "New Zealand" : "New Zealand region", 
                                "Japan region" : "Japan"}}, inplace=True)

df_country['country'].unique()

array(['Solomon Islands', 'Indonesia', 'Fiji region', 'Tonga', 'unknown',
       'Panama', 'Mexico', 'Taiwan', 'Vanuatu region', 'Papua New Guinea',
       'CHINA', 'New Zealand region', 'Philippines', 'Brazil', 'Peru',
       'Argentina', 'Nicaragua', 'New Caledonia', 'Japan',
       'Kermadec Islands region', 'USA', 'Cyprus', 'Antarctica',
       'South Sandwich Islands region', 'Haiti', 'Wallis and Futuna',
       'Mauritius - Reunion region', 'Russia region', 'Mongolia', 'Chile',
       'Greece', 'central Mid-Atlantic Ridge', 'Jamaica', 'Turkey', 'UK',
       'Australia', 'El Salvador', 'Ecuador', 'Canada',
       'Svalbard and Jan Mayen', 'Venezuela', 'Bolivia', 'Honduras',
       'Bouvet Island region', 'Costa Rica', 'Iran', 'Guatemala',
       'Botswana', 'Italy', 'Myanmar', 'Northern Mariana Islands',
       'Afghanistan', 'India region', 'Tajikistan', 'Barbados', 'Nepal',
       'Guam', 'Micronesia region', 'Pakistan', 'Colombia',
       'northern Mid-Atlantic Ridge', 'Samoa', 'Kyrgyzstan', 'Martinique',
       'Kuril Islands', 'Mozambique', 'Tanzania', 'Macquarie Island',
       'Cayman Islands', 'Algeria'], dtype=object)

In [15]:
df_country

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,2022-11-22 02:03:00,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,2022-11-18 13:37:00,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,Indonesia
2,M 7.0 -,7.0,2022-12-11 07:09:00,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,unknown,Oceania,Fiji region
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,Tonga
4,M 6.6 -,6.6,2022-09-11 10:14:00,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,unknown,NaN,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,2001-01-13 17:33:00,0,8,NaN,0,912,us,427,0.000,0.0,mwc,60.000,13.0490,-88.660,"Puerto El Triunfo, El Salvador",NaN,El Salvador
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,2001-10-01 16:02:00,5,7,NaN,0,745,ak,0,0.000,0.0,mw,36.400,56.7744,-153.281,"Old Harbor, Alaska",North America,USA
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,2001-09-01 16:49:00,0,7,NaN,0,776,us,372,0.000,0.0,mwb,103.000,-14.9280,167.170,"Port-Olry, Vanuatu",NaN,Vanuatu region
780,"M 6.8 - Mindanao, Philippines",6.8,2001-01-01 08:54:00,0,5,NaN,0,711,us,64,0.000,0.0,mwc,33.000,6.6310,126.899,"Mindanao, Philippines",NaN,Philippines
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,2001-01-01 06:57:00,0,7,NaN,0,865,us,324,0.000,0.0,mwc,33.000,6.8980,126.579,"Lukatan, Philippines",NaN,Philippines

In [16]:
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      782 non-null    object
 1   magnitude  782 non-null    float64
 2   date_time  782 non-null    datetime64[ns]
 3   cdi        782 non-null    int64
 4   mmi        782 non-null    int64
 5   alert      415 non-null    object
 6   tsunami    782 non-null    int64
 7   sig        782 non-null    int64
 8   net        782 non-null    object
 9   nst        782 non-null    int64
 10  dmin       782 non-null    float64
 11  gap        782 non-null    float64
 12  magType    782 non-null    object
 13  depth      782 non-null    float64
 14  latitude   782 non-null    float64
 15  longitude  782 non-null    float64
 16  location   782 non-null    object
 17  continent  206 non-null    object
 18  country    782 non-null    object
dtypes: datetime64[ns](1), float64(6), int64(5), object(7)
memory usage: 116.2+ KB

In [17]:
df_country['alert'] = df_country['alert'].fillna("unknown")
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      782 non-null    object
 1   magnitude  782 non-null    float64
 2   date_time  782 non-null    datetime64[ns]
 3   cdi        782 non-null    int64
 4   mmi        782 non-null    int64
 5   alert      782 non-null    object
 6   tsunami    782 non-null    int64
 7   sig        782 non-null    int64
 8   net        782 non-null    object
 9   nst        782 non-null    int64
 10  dmin       782 non-null    float64
 11  gap        782 non-null    float64
 12  magType    782 non-null    object
 13  depth      782 non-null    float64
 14  latitude   782 non-null    float64
 15  longitude  782 non-null    float64
 16  location   782 non-null    object
 17  continent  206 non-null    object
 18  country    782 non-null    object
dtypes: datetime64[ns](1), float64(6), int64(5), object(7)
memory usage: 116.2+ KB

In [18]:
df_country.head()

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,2022-11-22 02:03:00,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,2022-11-18 13:37:00,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,Indonesia
2,M 7.0 -,7.0,2022-12-11 07:09:00,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,unknown,Oceania,Fiji region
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,Tonga
4,M 6.6 -,6.6,2022-09-11 10:14:00,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,unknown,NaN,unknown

In [19]:
df_datetime = df_country["date_time"]
df_datetime

0     2022-11-22 02:03:00
1     2022-11-18 13:37:00
2     2022-12-11 07:09:00
3     2022-11-11 10:48:00
4     2022-09-11 10:14:00
              ...
777   2001-01-13 17:33:00
778   2001-10-01 16:02:00
779   2001-09-01 16:49:00
780   2001-01-01 08:54:00
781   2001-01-01 06:57:00
Name: date_time, Length: 782, dtype: datetime64[ns]

In [20]:
df_country["date_parsed"] = df_datetime

In [21]:
df_country

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country,date_parsed
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,2022-11-22 02:03:00,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands,2022-11-22 02:03:00
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,2022-11-18 13:37:00,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,Indonesia,2022-11-18 13:37:00
2,M 7.0 -,7.0,2022-12-11 07:09:00,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,unknown,Oceania,Fiji region,2022-12-11 07:09:00
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,Tonga,2022-11-11 10:48:00
4,M 6.6 -,6.6,2022-09-11 10:14:00,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,unknown,NaN,unknown,2022-09-11 10:14:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,2001-01-13 17:33:00,0,8,unknown,0,912,us,427,0.000,0.0,mwc,60.000,13.0490,-88.660,"Puerto El Triunfo, El Salvador",NaN,El Salvador,2001-01-13 17:33:00
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,2001-10-01 16:02:00,5,7,unknown,0,745,ak,0,0.000,0.0,mw,36.400,56.7744,-153.281,"Old Harbor, Alaska",North America,USA,2001-10-01 16:02:00
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,2001-09-01 16:49:00,0,7,unknown,0,776,us,372,0.000,0.0,mwb,103.000,-14.9280,167.170,"Port-Olry, Vanuatu",NaN,Vanuatu region,2001-09-01 16:49:00
780,"M 6.8 - Mindanao, Philippines",6.8,2001-01-01 08:54:00,0,5,unknown,0,711,us,64,0.000,0.0,mwc,33.000,6.6310,126.899,"Mindanao, Philippines",NaN,Philippines,2001-01-01 08:54:00
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,2001-01-01 06:57:00,0,7,unknown,0,865,us,324,0.000,0.0,mwc,33.000,6.8980,126.579,"Lukatan, Philippines",NaN,Philippines,2001-01-01 06:57:00

In [22]:
df_country["date_parsed"] = df_country["date_parsed"].dt.date
df_country.head()

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country,date_parsed
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,2022-11-22 02:03:00,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands,2022-11-22
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,2022-11-18 13:37:00,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,Indonesia,2022-11-18
2,M 7.0 -,7.0,2022-12-11 07:09:00,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,unknown,Oceania,Fiji region,2022-12-11
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,Tonga,2022-11-11
4,M 6.6 -,6.6,2022-09-11 10:14:00,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,unknown,NaN,unknown,2022-09-11

In [23]:
df_cleaned = df_country[['title', 'magnitude', 'date_parsed', 'cdi', 'mmi', 'alert', 'tsunami', 'sig', 'net', 'nst', 'dmin', 'gap', 'magType', 'depth', 'latitude', 'longitude', 'location', 'country']]
df_cleaned

,title,magnitude,date_parsed,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,2022-11-22,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,2022-11-18,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",Indonesia
2,M 7.0 -,7.0,2022-12-11,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,unknown,Fiji region
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",Tonga
4,M 6.6 -,6.6,2022-09-11,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,unknown,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,2001-01-13,0,8,unknown,0,912,us,427,0.000,0.0,mwc,60.000,13.0490,-88.660,"Puerto El Triunfo, El Salvador",El Salvador
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,2001-10-01,5,7,unknown,0,745,ak,0,0.000,0.0,mw,36.400,56.7744,-153.281,"Old Harbor, Alaska",USA
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,2001-09-01,0,7,unknown,0,776,us,372,0.000,0.0,mwb,103.000,-14.9280,167.170,"Port-Olry, Vanuatu",Vanuatu region
780,"M 6.8 - Mindanao, Philippines",6.8,2001-01-01,0,5,unknown,0,711,us,64,0.000,0.0,mwc,33.000,6.6310,126.899,"Mindanao, Philippines",Philippines
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,2001-01-01,0,7,unknown,0,865,us,324,0.000,0.0,mwc,33.000,6.8980,126.579,"Lukatan, Philippines",Philippines

In [24]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        782 non-null    object
 1   magnitude    782 non-null    float64
 2   date_parsed  782 non-null    object
 3   cdi          782 non-null    int64
 4   mmi          782 non-null    int64
 5   alert        782 non-null    object
 6   tsunami      782 non-null    int64
 7   sig          782 non-null    int64
 8   net          782 non-null    object
 9   nst          782 non-null    int64
 10  dmin         782 non-null    float64
 11  gap          782 non-null    float64
 12  magType      782 non-null    object
 13  depth        782 non-null    float64
 14  latitude     782 non-null    float64
 15  longitude    782 non-null    float64
 16  location     782 non-null    object
 17  country      782 non-null    object
dtypes: float64(6), int64(5), object(7)
memory usage: 110.1+ KB

In [25]:
df_cleaned.rename(columns = {"date_parsed":"date"}, inplace = True)
df_cleaned

C:\Users\Duy Nghiem\AppData\Local\Temp\ipykernel_6224\360080607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.rename(columns = {"date_parsed":"date"}, inplace = True)

,title,magnitude,date,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,2022-11-22,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,2022-11-18,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",Indonesia
2,M 7.0 -,7.0,2022-12-11,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,unknown,Fiji region
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",Tonga
4,M 6.6 -,6.6,2022-09-11,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,unknown,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,2001-01-13,0,8,unknown,0,912,us,427,0.000,0.0,mwc,60.000,13.0490,-88.660,"Puerto El Triunfo, El Salvador",El Salvador
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,2001-10-01,5,7,unknown,0,745,ak,0,0.000,0.0,mw,36.400,56.7744,-153.281,"Old Harbor, Alaska",USA
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,2001-09-01,0,7,unknown,0,776,us,372,0.000,0.0,mwb,103.000,-14.9280,167.170,"Port-Olry, Vanuatu",Vanuatu region
780,"M 6.8 - Mindanao, Philippines",6.8,2001-01-01,0,5,unknown,0,711,us,64,0.000,0.0,mwc,33.000,6.6310,126.899,"Mindanao, Philippines",Philippines
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,2001-01-01,0,7,unknown,0,865,us,324,0.000,0.0,mwc,33.000,6.8980,126.579,"Lukatan, Philippines",Philippines

In [32]:
df_cleaned.to_csv("cleaned_earthquakes.csv")

In [26]:
mispell = ['TarauacÃ¡, Brazil',
           'AzÃ¡ngaro, Peru',
           'PÃ³lis, Cyprus',
           'Ustâ€™-Kamchatsk Staryy, Russia',
           'NÃ©on KarlovÃ¡sion, Greece',
           'Santa MarÃ­a Xadani, Mexico',
           'NÃ©a AnatolÃ­, Greece',
           'Severo-Kurilâ€™sk, Russia',
           'Kurilâ€™sk, Russia',
           'Do?anyol, Turkey',
           'ConstituciÃ³n, Chile',
           'AzÃ¡ngaro, Peru',
           'Ustâ€™-Kamchatsk Staryy, Russia',
           'LithakiÃ¡, Greece',
           'Severo-Kurilâ€™sk, Russia',
           'IÃ±apari, Peru',
           'CarÃºpano, Venezuela',
           '?alabja, Iraq',
           'Puerto San JosÃ©, Guatemala',
           'ValparaÃ­so, Chile',
           'Ustâ€™-Kamchatsk Staryy, Russia',
           'QuellÃ³n, Chile',
           'Ashk?sham, Afghanistan',
           'Milâ€™kovo, Russia',
           'Imph?l, India',
           'Manuel Ãvila Camacho (Ponte Duro), Mexico',
           'TarauacÃ¡, Brazil',
           'IÃ±apari, Peru',
           'IÃ±apari, Peru',
           'LefkÃ¡da, Greece',
           '?funato, Japan',
           'Kod?ri??, Nepal',
           'IntipucÃ¡, El Salvador',
           'KamariÃ³tissa, Greece',
           'BelÃ©n, Nicaragua',
           'KÃ­ssamos, Greece',
           'BahÃ­a Solano, Colombia',
           'Kurilâ€™sk, Russia',
           'Kh?sh, Iran',
           '?funato, Japan',
           'San AgustÃ­n, Colombia',
           'ConstituciÃ³n, Chile',
           'WÃ©, New Caledonia',
           'Helio GarcÃ­a Alfaro, Mexico',
           '?tsuchi, Japan',
           '?arai, Japan',
           '?funato, Japan',
           'ConstituciÃ³n, Chile',
           'TomÃ©, Chile',
           'CaÃ±ete, Chile',
           'TomÃ©, Chile',
           'LÃ©ogÃ¢ne, Haiti',
           '?yama, Japan',
           'BahÃ­a de Kino, Mexico',
           'â€˜Ohonua, Tonga',
           'KorÃ³ni, Greece',
           'MethÃ³ni, Greece',
           'TimbiquÃ­, Colombia',
           'San Vicente de CaÃ±ete, Peru',
           'San Vicente de CaÃ±ete, Peru',
           'CopiapÃ³, Chile',
           'CopiapÃ³, Chile',
           'KÃ½thira, Greece',
           'BahÃ­a de Kino, Mexico',
           'Ashk?sham, Afghanistan',
           'Muzaffar?b?d, Pakistan',
           'Maebaru-ch??, Japan',
           'Shing?, Japan',
           'Shing?, Japan',
           'Shing?, Japan',
           'CaÃ±ete, Chile',
           'Shizunai-furukawach?, Japan',
           'CuyutlÃ¡n, Mexico',
           'Puerto San JosÃ©, Guatemala',
           'CopiapÃ³, Chile',
           'Sultanda??, Turkey',
           'SkÃ½ros, Greece',
           'Punta de BombÃ³n, Peru']
unique = []
for i in mispell:
    if i not in unique:
        unique.append(i)
unique

['TarauacÃ¡, Brazil',
 'AzÃ¡ngaro, Peru',
 'PÃ³lis, Cyprus',
 'Ustâ€™-Kamchatsk Staryy, Russia',
 'NÃ©on KarlovÃ¡sion, Greece',
 'Santa MarÃ\xada Xadani, Mexico',
 'NÃ©a AnatolÃ\xad, Greece',
 'Severo-Kurilâ€™sk, Russia',
 'Kurilâ€™sk, Russia',
 'Do?anyol, Turkey',
 'ConstituciÃ³n, Chile',
 'LithakiÃ¡, Greece',
 'IÃ±apari, Peru',
 'CarÃºpano, Venezuela',
 '?alabja, Iraq',
 'Puerto San JosÃ©, Guatemala',
 'ValparaÃ\xadso, Chile',
 'QuellÃ³n, Chile',
 'Ashk?sham, Afghanistan',
 'Milâ€™kovo, Russia',
 'Imph?l, India',
 'Manuel Ã\x81vila Camacho (Ponte Duro), Mexico',
 'LefkÃ¡da, Greece',
 '?funato, Japan',
 'Kod?ri??, Nepal',
 'IntipucÃ¡, El Salvador',
 'KamariÃ³tissa, Greece',
 'BelÃ©n, Nicaragua',
 'KÃ\xadssamos, Greece',
 'BahÃ\xada Solano, Colombia',
 'Kh?sh, Iran',
 'San AgustÃ\xadn, Colombia',
 'WÃ©, New Caledonia',
 'Helio GarcÃ\xada Alfaro, Mexico',
 '?tsuchi, Japan',
 '?arai, Japan',
 'TomÃ©, Chile',
 'CaÃ±ete, Chile',
 'LÃ©ogÃ¢ne, Haiti',
 '?yama, Japan',
 'BahÃ\xada de Kino, Mexico',
 'â€˜Ohonua, Tonga',
 'KorÃ³ni, Greece',
 'MethÃ³ni, Greece',
 'TimbiquÃ\xad, Colombia',
 'San Vicente de CaÃ±ete, Peru',
 'CopiapÃ³, Chile',
 'KÃ½thira, Greece',
 'Muzaffar?b?d, Pakistan',
 'Maebaru-ch??, Japan',
 'Shing?, Japan',
 'Shizunai-furukawach?, Japan',
 'CuyutlÃ¡n, Mexico',
 'Sultanda??, Turkey',
 'SkÃ½ros, Greece',
 'Punta de BombÃ³n, Peru']

In [27]:
cleaned_df = df_cleaned.replace({"location":{"TarauacÃ¡, Brazil":"Tarauaca, Brazil",
                                             "AzÃ¡ngaro, Peru":'Azangaro, Peru',
                                             'PÃ³lis, Cyprus':'Polis, Cyprus',
                                             'Ustâ€™-Kamchatsk Staryy, Russia':'Ust-Kamchatsk, Russia',
                                             'NÃ©on KarlovÃ¡sion, Greece':'Chio, Greece',
                                             'Santa MarÃ\xada Xadani, Mexico':'Santa María Xadani, Mexico',
                                             'NÃ©a AnatolÃ\xad, Greece':'Agios Nikolaos, Greece',
                                             'Severo-Kurilâ€™sk, Russia':'Severo-Kurilsk',
                                             'Kurilâ€™sk, Russia':'Kurilsk, Russia',
                                             'Do?anyol, Turkey':'Gözeli, Turkey',
                                             'ConstituciÃ³n, Chile':'Constitucion, Chile',
                                             'LithakiÃ¡, Greece':'Lithakia, Greece',
                                             'IÃ±apari, Peru':'Sollocota, Peru',
                                             'CarÃºpano, Venezuela':'Carupano, Venuzuela',
                                             '?alabja, Iraq':'Halabja',
                                             'Puerto San JosÃ©, Guatemala':'Puerto San Jose, Guatemala',
                                             'ValparaÃ\xadso, Chile':'Valparaiso, Chile',
                                             'QuellÃ³n, Chile':'Quellon, Chile',
                                             'Ashk?sham, Afghanistan':'Ashkasham, Afghanistan',
                                             'Milâ€™kovo, Russia':'Mil’kovo, Russia',
                                             'Imph?l, India':'Imphal, India',
                                             'Manuel Ã\x81vila Camacho (Ponte Duro), Mexico':'Ponte Duro, Mexico',
                                             'LefkÃ¡da, Greece':'Lefkada, Greece',
                                             '?funato, Japan':'Funato, Japan',
                                             'Kod?ri??, Nepal':'Kodari, Nepal',
                                             'IntipucÃ¡, El Salvador':'Intipuca, El Savador',
                                             'KamariÃ³tissa, Greece':'Kamariotissa, Greece',
                                             'BelÃ©n, Nicaragua':'Belen, Nicaragua',
                                             'KÃ\xadssamos, Greece':'Kissamos, Greece',
                                             'BahÃ\xada Solano, Colombia':'Bahia Solano, Colombia',
                                             'Kh?sh, Iran':'Khash, Iran',
                                             'San AgustÃ\xadn, Colombia':'San Agustín, Colombia',
                                             'WÃ©, New Caledonia':'Loyalty Islands, New Caledonia',
                                             'Helio GarcÃ\xada Alfaro, Mexico':'Helio Garcia Alfaro, Mexico',
                                             '?tsuchi, Japan':'Otsuchi, Japan',
                                             '?arai, Japan':'Oarai, Japan',
                                             'TomÃ©, Chile':'Tome, Chile',
                                             'CaÃ±ete, Chile':'Coihueco, Peru',
                                             'LÃ©ogÃ¢ne, Haiti':'Parques, Haiti',
                                             '?yama, Japan':'Hachijo, Japan',
                                             'BahÃ\xada de Kino, Mexico':'Bahia Kino, Mexico',
                                             'â€˜Ohonua, Tonga':'Ohonua',
                                             'KorÃ³ni, Greece':'Koroni, Greece',
                                             'MethÃ³ni, Greece':'Methoni, Greece',
                                             'TimbiquÃ\xad, Colombia':'Timbiqui, Colombia',
                                             'San Vicente de CaÃ±ete, Peru':'San Vicente de Canete, Peru',
                                             'CopiapÃ³, Chile':'Copiapo, Chile',
                                             'KÃ½thira, Greece':'Kythira, Greece',
                                             'Muzaffar?b?d, Pakistan':'Muzaffarabad, Pakistan',
                                             'Maebaru-ch??, Japan':'Maebaru, Japan',
                                             'Shing?, Japan':'Shingu, Japan',
                                             'Shizunai-furukawach?, Japan':'Shizunai-furukawachō, Japan',
                                             'CuyutlÃ¡n, Mexico':'Cuyutlan, Mexico',
                                             'Sultanda??, Turkey':'Sultandagi, Turkey',
                                             'SkÃ½ros, Greece':'Skyros, Greece',
                                             'Punta de BombÃ³n, Peru':'Punta de Bombon, Peru'}})
cleaned_df.head()

,title,magnitude,date,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,2022-11-22,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,2022-11-18,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",Indonesia
2,M 7.0 -,7.0,2022-12-11,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,unknown,Fiji region
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",Tonga
4,M 6.6 -,6.6,2022-09-11,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,unknown,unknown

In [31]:
# forgot this one lol
cleaned_df = cleaned_df.replace({'location':{'Bhach?u, India':'Bhachau, India'}})
cleaned_df.tail(10)

,title,magnitude,date,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,country
772,"M 7.1 - 137 km WNW of Ternate, Indonesia",7.1,2001-02-24,0,7,unknown,0,776,us,426,0.0,0.0,mwc,35.0,1.2710,126.249,"Ternate, Indonesia",Indonesia
773,"M 7.4 - 102 km SSE of Bengkulu, Indonesia",7.4,2001-02-13,0,6,unknown,0,842,us,221,0.0,0.0,mwc,36.0,-4.6800,102.562,"Bengkulu, Indonesia",Indonesia
774,"M 6.6 - 5 km S of Cojutepeque, El Salvador",6.6,2001-02-13,0,8,unknown,0,670,us,273,0.0,0.0,mwc,10.0,13.6710,-88.938,"Cojutepeque, El Salvador",El Salvador
775,"M 7.7 - 17 km NW of Bhach?u, India",7.7,2001-01-26,0,9,unknown,0,912,us,472,0.0,0.0,mwc,16.0,23.4190,70.232,"Bhachau, India",India region
776,"M 6.9 - 59 km WSW of Bengkulu, Indonesia",6.9,2001-01-16,0,6,unknown,0,732,us,117,0.0,0.0,mwb,28.0,-4.0220,101.776,"Bengkulu, Indonesia",Indonesia
777,"M 7.7 - 28 km SSW of Puerto El Triunfo, El Sal...",7.7,2001-01-13,0,8,unknown,0,912,us,427,0.0,0.0,mwc,60.0,13.0490,-88.660,"Puerto El Triunfo, El Salvador",El Salvador
778,"M 6.9 - 47 km S of Old Harbor, Alaska",6.9,2001-10-01,5,7,unknown,0,745,ak,0,0.0,0.0,mw,36.4,56.7744,-153.281,"Old Harbor, Alaska",USA
779,"M 7.1 - 16 km NE of Port-Olry, Vanuatu",7.1,2001-09-01,0,7,unknown,0,776,us,372,0.0,0.0,mwb,103.0,-14.9280,167.170,"Port-Olry, Vanuatu",Vanuatu region
780,"M 6.8 - Mindanao, Philippines",6.8,2001-01-01,0,5,unknown,0,711,us,64,0.0,0.0,mwc,33.0,6.6310,126.899,"Mindanao, Philippines",Philippines
781,"M 7.5 - 21 km SE of Lukatan, Philippines",7.5,2001-01-01,0,7,unknown,0,865,us,324,0.0,0.0,mwc,33.0,6.8980,126.579,"Lukatan, Philippines",Philippines

In [32]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      782 non-null    object
 1   magnitude  782 non-null    float64
 2   date       782 non-null    object
 3   cdi        782 non-null    int64
 4   mmi        782 non-null    int64
 5   alert      782 non-null    object
 6   tsunami    782 non-null    int64
 7   sig        782 non-null    int64
 8   net        782 non-null    object
 9   nst        782 non-null    int64
 10  dmin       782 non-null    float64
 11  gap        782 non-null    float64
 12  magType    782 non-null    object
 13  depth      782 non-null    float64
 14  latitude   782 non-null    float64
 15  longitude  782 non-null    float64
 16  location   782 non-null    object
 17  country    782 non-null    object
dtypes: float64(6), int64(5), object(7)
memory usage: 110.1+ KB

In [30]:
cleaned_df.to_csv('cleaned_earthquake_data.csv', index = False, encoding = 'utf-8-sig')